{{ with .Site.Params.Services }}
{{ if .enable }}
{{ "<!-- Site Hero Start -->" | safeHTML }}
<section class="site-hero" style="background-image: url('/images/backgrounds/pink-tong.jpg');">
    <div class="container" style="vertical-align: top;">
        <div class="row">
            <div class="col-lg-10 mx-auto text-center">
                <br></br>
                <br></br>
                <!-- <img width="auto" height="auto" src="{{ "images/logo_black_20_percent.png" | absURL }}"> -->
                <div class="site-hero-content text-center">
                    <h3 class="faqtitle">{{ .title }}</h3>
                    <h4 class="q1">{{ .q1 }}</h4>
                    <h5 class="a1">{{ .a1 }}</h5>
                    <h4 class="q1">{{ .q1 }}</h4>
                    <h5 class="a1">{{ .a1 }}</h5>
                    <h4 class="q1">{{ .q1 }}</h4>
                    <h5 class="a1">{{ .a1 }}</h5>
                    <h4 class="q1">{{ .q1 }}</h4>
                    <h5 class="a1">{{ .a1 }}</h5>
                    <h4 class="q1">{{ .q1 }}</h4>
                    <h5 class="a1">{{ .a1 }}</h5>
                </div>
            </div>
        </div>
    </div>
</section>
{{ "<!-- Site Hero End -->" | safeHTML }}
{{ end }}
{{ end }}